bcolors==1.0.2
EasyProcess==1.1
entrypoint2==1.0
keyboard==0.13.5
langdetect==1.0.9
mouse==0.7.1
mss==6.1.0
numpy==1.22.3
opencv-python==4.5.5.64
Pillow==9.1.0
pyscreenshot==3.0
pystray==0.19.3
pywin32==304
six==1.16.0
SpeechRecognition==3.8.1
GitPython==3.1.27